/* 기본틀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

body, html {
  height: 100%;
}


table, tr, td{
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
}

/* container */
#container{
  width: 100%;
  min-height: 100vh; /* 화면 높이와 동일하게 설정 */
  padding: 60px 300px 0 300px;
}

#notice_title_area{
  width:100%; 
  margin-bottom: 50px;
}

#noticeTit{
  font-weight:610; 
}

#noticeTit2{
  font-size:16px; 
  color:#797979; 
  margin: 8px 0 30px 0;
}

#notice_list_area{
  width:100%; 
  margin-bottom: 40px;
}

.notice_list_group{
  width:100%; 
  height:92px;  
  padding:20px; 
  border-bottom:1px solid #EEEEEE; 
  box-sizing:border-box;
}

.notice_wrap_cont{
  width:100%; 
  height:auto;
}

.desc_cont{
  width:1000px; 
  height:38px; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp:2; 
  padding-top:14px; 
  padding-left:54px;
}

.tit_post{
  display:flex; 
  font-size:21px; 
  font-weight:500;
}

.num_txt{
  font-size:21px; 
  font-weight:400; 
  margin-right:10px; 
  padding-right:18px;
  color: #444;
}

#Nname{
  font-size: 16px;
  font-weight: 400;
  color: #797979;
  margin-left: auto;
}

.img{
  margin-left:12px;
}

.notice_wrap_cont .space{
  margin:0 10px; 
  color:#666666;
}

.list_txt{
  font-size:15px; 
  font-weight:400; 
  color:#666666; 
  line-height:21px;
}

.txt_g{
  font-size:13px; 
  font-weight:400; 
  color:#797979; 
  padding-top:12px; 
  padding-left:40px;
}

.txt_g .space{
  margin:0 7px;
}

.page_num{
  width:100%; 
  height:38px; 
  display:flex;
  justify-content:center;
  list-style-type:none;
  padding-bottom:113px;
} 

.page_num li{
  margin:0 5px;
}

.page_num a{
  display:block;
  padding:8px 12px;
  text-decoration:none;
  color: #797979;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page_num a:hover{
  color: black;
}

.page_num .nowNum a{
  color:black;
}