{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf_token" content="{{ csrf_token }}">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
	<link rel="stylesheet" href="{% static 'css/main_navi_base.css'%}">
  <link rel="stylesheet" href="{% static 'css/customer/customer_service.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/customer/customer_notice_view.css'%}">
  <link rel="stylesheet" href="{% static 'css/customer/customer_notice_list.css'%}">
  <link rel="stylesheet" href="{% static 'css/emotion/emotion.css'%}">
  <link rel="stylesheet" href="{% static 'css/mypage/mypage_modi.css'%}">
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>
  <title>우리의 기록</title>
</head>
<body>
  <script>
		$(function() {
			// GNB 클릭
			$('#menu ul li').on('click', function() {
				$('#menu ul li').removeClass('active');
				$(this).addClass('active');
			});
				// 검색창
			$('#searchBtn').click(function(){
				$("#main_search").removeClass('closed').addClass('open');
				$('#s_overlay').addClass('show');
				});
			$('#search_closeBtn').click(function(){
				$("#main_search").removeClass('open').addClass('closed');
				$('#s_overlay').removeClass('show');
				});
			$('#s_overlay').click(function() { //배경 클릭하면 닫히게
				$('#main_search').removeClass('open').addClass('closed');
				$('#s_overlay').removeClass('show');
				});


			// 알림창
			$('#notiBtn').click(function() {
				$('#noti_side').removeClass('closed').addClass('open');
				$('#n_overlay').addClass('show');
				});
			$('#noti_closeBtn').click(function() {
				$('#noti_side').removeClass('open').addClass('closed');
				$('#n_overlay').removeClass('show');
				});
			$('#n_overlay').click(function() { //배경 클릭하면 닫히게
				$('#noti_side').removeClass('open').addClass('closed');
				$('#n_overlay').removeClass('show');
				});
		});

	</script>
</head>
<body>
	<!-- 최상단 메뉴 -->
	<div id="top_nav">
		<h1><a href="/main/index/"></a></h1>
		<ul class="top_menu">
			<li><a id="searchBtn"><img src="/static/images/home/search_icon.png" alt=""></a></li>
			<li><a id="notiBtn"><img src="/static/images/home/bell_off_icon.png" alt=""></a></li>
			<li><a href="/mypage/main/">마이페이지</a></li>
		</ul>

	</div>
	<!-- 좌측 gnb -->
	<div id="gnb">

		<!-- 프로필 -->
		{% block profill-block%}
		
		
	
		{% endblock profill-block%}
		
		<!-- logout -->
		<div id="logout">
			<a href="/main/logout/"><span>로그아웃</span></a>
		</div>
		
	</div>

	<!-- 검색창 슬라이드 -->
	<div id="s_overlay" class="s_overlay"></div>
	<div id="main_search" class="search_bar closed">
		<div id="input_wrap">
			<div class="search_box">
				<input type="text" placeholder="다이어리에서 찾고 싶은 내용을 입력하세요.">
				<img src="/static/images/home/search_icon.png" alt="">
			</div>
			<button type="button" id="search_closeBtn">
				<img src="/static/images/home/close_icon.png" alt="알림창닫기">
			</button>
		</div>
		
		<div id="search_content">
			<div id="search_result">
				검색 결과 <span>(4)</span>
			</div>
			<!-- 반복 -->
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<div class="search_list">
				<a href="">
					<span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
					<span class="s_date">2024.12.05</span>
					<img src="/static/images/home/right.png" alt="">
				</a>
			</div>
			<!-- 반복 -->
			
		</div>
		
		
	</div>
	
	
	<!-- 알림창 슬라이드 -->
	<div id="n_overlay" class="n_overlay"></div>
	<div id="noti_side" class="sidebar closed">
		<div class="noti_header">
			<h2>알림</h2>
			<button id="noti_closeBtn"><img src="/static/images/home/close_icon.png" alt="알림창닫기"></button>
    </div>
    <ul id="noti_list">
			<li class="noti_list">
				<a href="">
					<div>
						<img src="/static/images/home/default_profile.png" alt="프로필이미지">
					</div>
					<div>
						<p>장서윤 님이 새로운 기록을 공유했어요.</p>
					</div>
				</a>
			</li>
			<li class="noti_list checked">
				<a href="">
					<div>
						<img src="/static/images/home/default_profile.png" alt="프로필이미지">
					</div>
					<div>
						<p>배현지 님이 용준님의 기록에 좋아요를 눌렀어요.</p>
					</div>
				</a>
			</li>
			<li class="noti_list checked">
				<a href="">
					<div>
						<img src="/static/images/home/default_profile.png" alt="프로필이미지">
					</div>
					<div>
						<p>이다영 님이 용준님의 기록에 댓글을 남겼어요.</p>
					</div>
				</a>
			</li>
			<li class="noti_list checked">
				<a href="">
					<div>
						<img src="/static/images/home/default_profile.png" alt="프로필이미지">
					</div>
					<div>
						<p>정종원 님이 용준님의 기록에 좋아요를 남겼어요.</p>
					</div>
				</a>
			</li>
    </ul>
	</div>

	<!-- container -->
	{% block container-block%}
	{% endblock container-block%}
</body>
</html>