{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/diary/diary_home.css'%}">
  <link rel="stylesheet" href="{% static '/css/home/main.css'%}">
  <link rel="stylesheet" href="{% static '/css/home/main.css'%}">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>다이어리 HOME</title>
</head>
<!-- 공통 상단좌측메뉴 -->
<script>
  $(function() {
    // GNB 클릭
    $('#menu ul li').on('click', function() {
      $('#menu ul li').removeClass('active');
      $(this).addClass('active');
    });
      // 검색창
    $('#searchBtn').click(function(){
      $("#main_search").removeClass('closed').addClass('open');
      $('#s_overlay').addClass('show');
      });
    $('#search_closeBtn').click(function(){
      $("#main_search").removeClass('open').addClass('closed');
      $('#s_overlay').removeClass('show');
      });
    $('#s_overlay').click(function() { //배경 클릭하면 닫히게
      $('#main_search').removeClass('open').addClass('closed');
      $('#s_overlay').removeClass('show');
      });


    // 알림창
    $('#notiBtn').click(function() {
      $('#noti_side').removeClass('closed').addClass('open');
      $('#n_overlay').addClass('show');
      });
    $('#noti_closeBtn').click(function() {
      $('#noti_side').removeClass('open').addClass('closed');
      $('#n_overlay').removeClass('show');
      });
    $('#n_overlay').click(function() { //배경 클릭하면 닫히게
      $('#noti_side').removeClass('open').addClass('closed');
      $('#n_overlay').removeClass('show');
      });
  });


  if("{{gmsg}}"=='1'){
    alert("가족 다이어리가 만들어졌어요.")
    location.href = '/diary/diaryHome/'
  }
  if("{{gmsg}}"=='0'){
    alert("이미 생성한 가족 다이어리가 있어요.")
    location.href = '/diary/diaryHome/'
  }

  $(function() {
    // GNB 클릭
    $('#menu ul li').on('click', function() {
      $('#menu ul li').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>
</head>
<body>
<!-- 최상단 메뉴 -->
<div id="top_nav">
  <h1><a href="/main/index/"></a></h1>
  <ul class="top_menu">
    <li><a id="searchBtn"><img src="/static/images/home/search_icon.png" alt=""></a></li>
    <li><a id="notiBtn"><img src="/static/images/home/bell_off_icon.png" alt=""></a></li>
    <li><a href="/mypage/main/">마이페이지</a></li>
  </ul>
</div>
<!-- 좌측 gnb -->
<div id="gnb">
  <!-- 프로필 -->
  <div id="user_profile">
    <div id="pimg">
      <img src="/static/images/home/default_profile.png" alt="">
    </div>
    <p id="uName">김용준</p>
    <p id="uEmail">kyjoon0105@gmail.com</p>
  </div>
  <!-- Nav -->
  <nav id="menu">
    <ul>
      <a href="/main/index/"><li class="menu_item">우리 가족 이야기</li></a>
      <a href="/diary/diaryHome/"><li class="menu_item active">다이어리</li></a>
      <a href="/emotion/main/"><li class="menu_item">감정 돌아보기</li></a>
      <a href="/family1/fam/"><li class="menu_item">우리가족</li></a>
      <a href="/calendar1/cal/"><li class="menu_item">캘린더</li></a>
      <a href="/customer/"><li class="menu_item">알려드려요</li></a>
    </ul>
  </nav>
  <!-- logout -->
  <div id="logout">
    <a href="#"><span>로그아웃</span></a>
  </div>
</div>

<!-- 검색창 슬라이드 -->
<div id="s_overlay" class="s_overlay"></div>
<div id="main_search" class="search_bar closed">
  <div id="input_wrap">
    <div class="search_box">
      <input type="text" placeholder="다이어리에서 찾고 싶은 내용을 입력하세요.">
      <img src="/static/images/home/search_icon.png" alt="">
    </div>
    <button type="button" id="search_closeBtn">
      <img src="/static/images/home/close_icon.png" alt="알림창닫기">
    </button>
  </div>
  
  <div id="search_content">
    <div id="search_result">
      검색 결과 <span>(4)</span>
    </div>
    <!-- 반복 -->
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <div class="search_list">
      <a href="">
        <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
        <span class="s_date">2024.12.05</span>
        <img src="/static/images/home/right.png" alt="">
      </a>
    </div>
    <!-- 반복 -->
    
  </div>
  
  
</div>


<!-- 알림창 슬라이드 -->
<div id="n_overlay" class="n_overlay"></div>
<div id="noti_side" class="sidebar closed">
  <div class="noti_header">
    <h2>알림</h2>
    <button id="noti_closeBtn"><img src="/static/images/home/close_icon.png" alt="알림창닫기"></button>
  </div>
  <ul id="noti_list">
    <li class="noti_list">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>장서윤 님이 새로운 기록을 공유했어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>배현지 님이 용준님의 기록에 좋아요를 눌렀어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>이다영 님이 용준님의 기록에 댓글을 남겼어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>정종원 님이 용준님의 기록에 좋아요를 남겼어요.</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<script>
  $(function(){
    $("#plusBtn").click(function(){
      if("{{gmsg}}"=="0"){
        alert("이미 생성한 공유 다이어리가 있어요.")
      }
    })
  })
</script>

<!-- 공통 상단좌측메뉴 -->
<!-- 다이어리 HOME -->
<div id="all_area">
  <!-- 상단부분 -->
  <div id="title_area">
    <p id="topTit">다이어리<span id="searchBar"><input type="text" name="search" placeholder="검색"></span>
    <span><a href="/diary/diaryMake/"><button id="plusBtn"><img src="/static/images/diary/plusBtn.png" alt=""></button></a></span></p>
  </div>
  <!-- 메인부분 -->
  <div id="main_area">
  <button class="prev-btn"><img src="/static/images/diary/Arrow_drop_left.png" alt=""></button>
  <div class="carousel">
    <div class="image-container">
      <div class="card" id="firstCard"><a href="/diary/FdiaryList/"><img src="/static/images/diary/diary.png" alt="">
        <div id="dFirst_area">
          <div class="diary_group">
            <p>Family Diary</p>
          </div>
          <div class="diary_title">
            {% if creator %}
            <p>{{ creator.gtitle }}</p>
            {% else %}
            <p>우리 가족 일기를 만들어보세요.</p>
            {% endif %}
          </div>
        </div>
        <div class="diary_member">
          <p>
            {% if creator %}
              {{ request.session.session_name }}
              {% if joined_members %}
                {% for joined_member in joined_members %}
                , {{ joined_member.member.name }}
                {% endfor %}
              {% endif %}
            {% else %}
              가족을 초대해 보세요.
            {% endif %}
          </p>
        </div>
        <div class="diary_date">
          {% if creator %}
          <p>{{ creator.created_at|date:"Y.m.d" }} ~</p>
          {% else %}
          <p></p>
          {% endif %}
        </div>
      </a></div>

      <div class="card" id="secondCard"><a href="/diary/MdiaryList/"><img src="/static/images/diary/diary.png" alt="">
        <div id="dFirst_area">
          <div class="diary_group">
            <p>My Dairy</p>
          </div>
          <div class="diary_title">
            <p>{{pDiary.mtitle}}</p>
          </div>
        </div>
        <div class="diary_member">
          <p>{{ request.session.session_name }}</p>
        </div>
        <div class="diary_date">
          <p>{{pDiary.mdate|date:"Y.m.d"}} ~</p>
        </div>
      </a></div>

      <div class="card"><a href="#"><img src="/static/images/diary/diary.png" alt="">
        <div id="dFirst_area">
          <div class="diary_group">
            <p>Family Dairy</p>
          </div>
          <div class="diary_title">
            {% if join_d %}
            <p>{{ join_d.0.gtitle }}</p>
            {% else %}
            <p>가족에게 다이어리 초대를 받아보세요.</p>
            {% endif %}
          </div>
        </div>
        <div class="diary_member">
          <p>
            {% if join_d %}
            {{ cMem.name }}
            {% for name in joined_names %}
            , {{ name }}
            {% endfor %}
            {% else %}
            가족을 초대해 보세요.
            {% endif %}
          </p>
        </div>
        <div class="diary_date">
          {% if join_d %}
          <p>{{ join_d.0.created_at|date:"Y.m.d" }} ~</p>
          {% else %}
          <p></p>
          {% endif %}
        </div>
      </a></div>

    </div>
  </div>
  <button class="next-btn"><img src="/static/images/diary/Arrow_drop_right.png" alt=""></button>
  </div>
  <div id="mailbox_container">
    <!-- 어두운 배경 레이어 -->
    <div id="dark_background"></div>
    <!-- 우체통 버튼 -->
    <button id="mailBtn">
      <img id="mailBtn_icon" src="/static/images/diary/mailbox_alert_off.png" alt="">
    </button>
    <!-- 우체통 리스트 -->
    <div id="mailbox_list">
      <div class="list_header">우체통</div>
      <ul>
        {% if list %}
        {% for letter in list  %}
        <li data-id="{{letter.lno}}" class="mail_item"><a href="#">
          <input type="hidden" name="lcontent" value="{{letter.lcontent}}" >
          <input type="hidden" name="user_nic" value="{{user_nic}}" >
          <input type="hidden" name="sent_nic" value="{{letter.member.nicName}}" >
          <span class="mail_tit">{{letter.ltitle}}</span>
          <span class="mail_date">{{letter.ldate|date:'Y.m.d'}}</span>
        </a>
      </li>
      {% comment %} <li data-id="2" class="mail_item"><a href="#">
        <span class="mail_tit">아들아 아빠다. 잘 지내니?</span>
        <span class="mail_date">2024.11.16</span>
      </a>
    </li>
    <li data-id="3" class="mail_item"><a href="#">
      <span class="mail_tit">오빠~ 생일 축하해! :짠:</span>
      <span class="mail_date">2024.02.23</span>
    </a>
  </li> {% endcomment %}
  {% endfor %}
  {% else %}
  <li>편지가 없습니다.</li>
  {% endif %}
      </ul>
    </div>
  </div>
  <!-- 편지지 창 -->
  <div class="letter_container" id="letter_container">
    <div class="letter" id="letter">
      <div class="letter_header">
        <p><strong>To. 받는 사람 닉네임이 들어가야함..</strong></p>
      </div>
      <div class="letter_content"><p>고민을 좀 더 해봐야할 듯..</p></div>
      <div class="letter_footer">
        <p><strong>From. 닉네임이 들어가야함..</strong></p>
      </div>
    </div>
    {% comment %} <div class="letter" id="letter-2">
      <div class="letter_header">
        <p><strong>To. 아들</strong></p>
      </div>
      <div class="letter_content"><p>아들아 아빠다. 잘 지내니?</p>
      </div>
      <div class="letter_footer"><p><strong>From. 엄마</strong></p>
      </div>
    </div>
    <div class="letter" id="letter-3">
      <div class="letter_header">
        <p><strong>To. 오빠</strong></p>
      </div>
      <div class="letter_content"><p>오빠~ 생일 축하해! :짠:</p>
      </div>
      <div class="letter_footer"><p><strong>From. 여동생</strong></p>
      </div>
    </div> {% endcomment %}
  </div>



  <!-- 스크립트 부분 -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        // localStorage에서 데이터 읽기
        const savedDiaryData = localStorage.getItem('diaryData');
    
        if (savedDiaryData) {
            const diaryData = JSON.parse(savedDiaryData);
    
            // #firstCard에 데이터 업데이트 (groupName 제외)
            const firstCard = document.getElementById('firstCard');
            firstCard.querySelector('.diary_title p').textContent = diaryData.title; // 제목만 업데이트
            firstCard.querySelector('.diary_member p').textContent = diaryData.members; // 멤버 업데이트
            firstCard.querySelector('.diary_date p').textContent = `${diaryData.date} ~`; // 날짜 업데이트
    
            // .diary_group p는 업데이트하지 않음 (기본 값 유지)
    
            // 데이터 사용 후 localStorage에서 삭제 (선택사항)
            localStorage.removeItem('diaryData');
        }
    });
  

    const cards = document.querySelectorAll(".image-container .card");
    const prevBtn = document.querySelector(".prev-btn");
    const nextBtn = document.querySelector(".next-btn");
    let currentIndex = 1; // Default center card index
    // Update card positions
    function updateCards() {
      cards.forEach((card, index) => {
        card.classList.remove("center", "left", "right");
        if (index === currentIndex) {
          card.classList.add("center");
        } else if (index === (currentIndex - 1 + cards.length) % cards.length) {
          card.classList.add("left");
        } else if (index === (currentIndex + 1) % cards.length) {
          card.classList.add("right");
        }
      });
    }
    // Left button functionality
    prevBtn.addEventListener("click", () => {
      currentIndex = (currentIndex - 1 + cards.length) % cards.length;
      updateCards();
    });
    // Right button functionality 
    nextBtn.addEventListener("click", () => {
      currentIndex = (currentIndex + 1) % cards.length;
      updateCards();
    });
    // Initial setup
    updateCards();



    // 우체통 리스트
    document.addEventListener('DOMContentLoaded', () => {
      const mailboxBtn = document.getElementById('mailBtn');
      const mailboxList = document.getElementById('mailbox_list');

      let isOpen = false;

      mailboxBtn.addEventListener('click', () => {
        if (isOpen) {
          // 닫기
          mailboxList.style.right = '-400px';
        } else {
          // 열기
          mailboxList.style.right = '0';
        }
        isOpen = !isOpen; // 상태 변경
      });
    });


    // 우체통 아이콘 변경
    document.addEventListener('DOMContentLoaded', () => {
      const mailboxBtn = document.getElementById('mailBtn'); // 버튼
      const mailboxIcon = document.getElementById('mailBtn_icon'); // 아이콘 이미지

      let isOpen = false; // 상태 변수 (열린/닫힌 상태)

      mailboxBtn.addEventListener('click', () => {
        if (isOpen) {
          // 닫힌 상태로 변경
          mailboxIcon.src = '/static/images/diary/mailbox_alert_on.png'; // 닫힌 우체통 이미지
          mailboxBtn.style.backgroundColor = '#ffffff'; // 초기 배경색
        } else {
          // 열린 상태로 변경
          mailboxIcon.src = '/static/images/diary/mailbox_alert_off.png'; // 열린 우체통 이미지
          mailboxBtn.style.backgroundColor = '#FAFDFF'; // 변경된 배경색
        }
        isOpen = !isOpen; // 상태 반전
      });
    });


    // 편지지 창
    document.addEventListener('DOMContentLoaded', () => {
      const mailItems = document.querySelectorAll('.mail_item'); // 리스트 항목
      const letterContainer = document.getElementById('letter_container'); // 편지지 창
      const letters = document.querySelectorAll('.letter'); // 모든 편지지 내용
      const darkBackground = document.getElementById('dark_background'); // 어두운 배경 레이어
      
      
      // 우체통 리스트 항목 클릭 시
      mailItems.forEach(item => {
        item.addEventListener('click', () => {
          // 모든 편지지 숨기기
          letters.forEach(letter => (letter.style.display = 'none'));

          // 클릭된 항목의 편지지 보여주기
          const letterId = item.getAttribute('data-id');
          //글제목
          const ltitle = item.querySelector('.mail_tit').textContent;
          //글내용
          const lcontent = item.querySelector('input[name="lcontent"]').value;
          //글날짜
          const mail_date = item.querySelector('.mail_date').textContent;

          //받는 사람
          const nicName = item.querySelector('input[name="user_nic"]').value;
          const sent_nic = item.querySelector('input[name="sent_nic"]').value;

          const targetLetter = document.getElementById(`letter`);
          console.log("letterId : "+letterId);
          console.log("ltitle : "+ltitle);
          console.log("lcontent : "+lcontent);
          console.log("mail_date : "+mail_date);
          console.log("받는사람 : "+nicName);
          console.log("보낸사람 : "+sent_nic);
          

          if (targetLetter) {
            targetLetter.style.display = 'block';
            //데이터 넣기
            console.log(targetLetter.querySelector('.letter_header'))
            
            targetLetter.querySelector('.letter_header').innerHTML = `<p><strong>To. ${nicName}</strong></p>`;
            targetLetter.querySelector('.letter_content').innerHTML = `<p>${lcontent}</p>`;
            targetLetter.querySelector('.letter_footer').innerHTML = `<p><strong>From. ${sent_nic}</strong></p>`;
          }

          // 편지지 창 및 어두운 배경 표시
          letterContainer.style.display = 'block';
          darkBackground.style.display = 'block';
        });
      });

      // 어두운 배경 클릭 시 창 닫기
      darkBackground.addEventListener('click', () => {
        letterContainer.style.display = 'none';
        darkBackground.style.display = 'none';
      });
    });
  </script>


  
</body>
</html>