{% extends 'main_navi_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="csrf_token" content="{{ csrf_token }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <title>회원 정보 수정</title>
</head>
<body>
  <!-- 프로필 -->
  {% block profill-block%}
  <div id="user_profile">
    <div id="pimg">
      <img src="/static/images/home/default_profile.png" alt="">
    </div>
      <!-- profill -->
    <p id="uName" >{{mem_info.name}}</p>
    <p id="uEmail">{{mem_info.mail}}</p>
  </div>

  	<!-- Nav -->
		<nav id="menu">
			<ul>
				<a href="/main/index/"><li class="menu_item active">우리 가족 이야기</li></a>
				<a href="/diary/diaryHome/"><li class="menu_item">다이어리</li></a>
				<a href="/emotion/main/"><li class="menu_item">감정 돌아보기</li></a>
				<a href="/family1/fam/"><li class="menu_item">우리가족</li></a>
				<a href="/calendar1/cal/"><li class="menu_item">캘린더</li></a>
				<a href="/customer/"><li class="menu_item">알려드려요</li></a>
			</ul>
		</nav>
    
  {% endblock profill-block%}
  {% block container-block%}
  <div id="container">
    
    <div id="mypage_top">
      <span>마이페이지</span>
    </div>
    <div class="mypage_cont_title">
      <span>회원정보 수정</span>
    </div>
    <form action="/mypage/modify/" method='post' name='mymodiFrm'>
      {% csrf_token %}
      <div class="mypage_cont">
        <div class="mypage_name">
          <span>이름</span>
          <div>
            <input type="text" value='{{mem_info.name}}' readonly>
          </div>
        </div>
        <div class="mypage_id">
          <span>아이디</span>
          <div>
            <input type="text" value='{{mem_info.id}}' readonly>
          </div>
        </div>
        <div class="mypage_pw">
          <span>비밀번호</span>
          <button type="button" class="mypage_pw_chgbtn">비밀번호 변경</button>
          <div class="mypage_pw_chg">
            <h3>비밀번호 변경</h3>
            <div>
              <span>현재 비밀번호</span>
              <input type="text" placeholder="현재 비밀번호를 입력하세요" name='curr_pw' class="mypage_pw_now" id="mypage_pw_now"><button type='button' class='pw_chkbtn'>비밀번호 확인</button>
              <p class='pw_chk_txt'></p>
            </div>
            <div>
              <span>비밀번호 변경</span>
              <input type="text" placeholder="영문, 숫자, 특수 기호 포함 8자리" name='new_pw' id="mypage_pw_chg1">
            </div>
            <div>
              <span>비밀번호 확인</span>
              <input type="text" placeholder="비밀번호를 다시 입력하세요" name='chk_pw' id="mypage_pw_chg2">
            </div>
            <button type="button" class='pw_chg_btn'>변경하기</button>
          </div>
        </div>
        <div class="mypage_nicname">
          <span>닉네임</span>
          <div>
            <input type="text" name='mypage_nicname' value='{{mem_info.nicName}}'>
          </div>
        </div>
        <div class="mypage_email">
          <span>이메일</span>
          <div class="mypage_email">
            <input type="text" name='mypage_mailid' value='{{mail_id}}'>
            <p>@</p>
            <select class="mypage_email2" name="mypage_email2" id='mypage_email2'>
              <option value="naver.com" {% if mail_domain == 'naver.com' %} selected {% endif %}>naver.com</option>
              <option value="gmail.com" {% if mail_domain == 'gmail.com' %} selected {% endif %}>gmail.com</option>
              <option value="hanmail.net" {% if mail_domain == 'hanmail.net' %} selected {% endif %}>hanmail.net</option>
              <option value="nate.com" {% if mail_domain == 'nate.com' %} selected {% endif %}>nate.com</option>
            </select>
        </div>
      </div>
      <div class="mypage_gender">
        <span>성별</span>
        <div class='mypage_gender_chk'>
          <input type="radio" id="mypage_gender_m" value="남자" name="mypage_gender" {% if mem_info.gender == '남자' %} checked {% endif %}>
          <label for="mypage_gender_m">남자</label>
          <input type="radio" id="mypage_gender_f" value="여자" name="mypage_gender" {% if mem_info.gender == '여자' %} checked {% endif %}>
          <label for="mypage_gender_f">여자</label>
        </div>
      </div>
      <div class="mypage_birth">
        <span>생일</span>
        <div>
          <input type="text" name='mypage_birth' value='{{mem_info.birthday}}'>
        </div>
      </div>
    </div>
    <div id="mypage_modi_btn">
      <button type="button" class='mypage_modisave_btn'>수정하기</button>
      <button type="button" class='mypage_modicancel_btn'>수정취소</button>
    </div>
  </form>
  </div>
  <script>
    // 자주 묻는 질문 슬라이드
    $(document).ready(function() {
      $('.mypage_pw_chgbtn').click(function() {
        $(this).next('.mypage_pw_chg').slideToggle(300); // 300ms 동안 슬라이드
        $(this).toggleClass('active'); // 열림/닫힘 상태 관리 (추가 스타일링 가능)
      });

      // 비밀번호 확인
      const csrfToken = $('meta[name="csrf_token"]').attr('content');
      console.log('CSRF Token:', csrfToken);

      // 비밀번호가 확인되기 전까지 변경창 비활성화
      $('#mypage_pw_chg1, #mypage_pw_chg2').prop('dsabled', true);
      // 변경하기 버튼 비활성화
      $('.pw_chg_btn').prop('disabled', true);

      $('.pw_chkbtn').click(function() {
        console.log($('.mypage_pw_now').val())
        const currPw = $('.mypage_pw_now').val()
        
        // 비밀번호 확인 ajax 시작
        $.ajax({
          url: '/mypage/modify/currpw_chk/',
          type: 'post',
          headers:{'X-CSRFToken':csrfToken},
          data:{'currPw':currPw},
          success:function(data){
            if(data.result == 'success'){
              $('.pw_chk_txt').text('비밀번호가 일치합니다.').css('color','blue');
              // 확인 후 변경창 활성화
              $('#mypage_pw_chg1, #mypage_pw_chg2').prop('disabled', false);
              $('.pw_chg_btn').prop('disabled', false);
            }else{
              $('.pw_chk_txt').text('비밀번호가 일치하지 않습니다.').css('color','red');
            }
          },
          error:function(){
            alert('실패')
          }
        }); // ajax 끝
      }); // 비밀번호 변경하기 버튼


      // 비밀번호 유효성 검사 함수
      function validatePassword(password) {
        const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;
        return passwordRegex.test(password);
      }
      // 변경하기 버튼
      $('.pw_chg_btn').click(function() {
        const nowPw = $('#mypage_pw_chg1').val()
        const nowPw_chk = $('#mypage_pw_chg2').val()
        console.log(nowPw)
        if(validatePassword(nowPw)){
          if(nowPw_chk == nowPw){
            $.ajax({
              url: '/mypage/modify/pw_chg/',  // 비밀번호 변경을 처리하는 URL로 요청
              type: 'POST',
              headers: {'X-CSRFToken': csrfToken},
              data: {'newPw': nowPw}, // 새 비밀번호
              success: function(data) {
                if(data.result == 'success'){
                  alert('비밀번호가 성공적으로 변경되었습니다.');
                  $('.mypage_pw_chg').slideUp(300);  // 비밀번호 변경 창 숨기기
                }
              },
              error: function() {
                alert('비밀번호 변경에 실패했습니다. 다시 시도해주세요.');
              }
            });
          }else{
            alert('비밀번호를 다시 확인하세요')
          }
        }else{
          alert('비밀번호는 영문, 숫자, 특수기호 포함 8자리 이상이어야 합니다.')
        }
      }); // 수정 완료 버튼

      // 수정하기 버튼
      $('.mypage_modisave_btn').click(function() {
        mymodiFrm.submit()
      });

      // 취소하기 버튼 
      $('.mypage_modicancel_btn').click(function() {
        location.href = '/mypage/main/'
      });
    });
  </script>
  {% endblock container-block%}
</body>
</html>