{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <link rel="stylesheet" href="{% static '/css/calendar1/main.css'%}" />

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

  <!-- full calendar -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
  <title>캘린더</title>
  <script>

    $(function() {
      // GNB 클릭
      $('#menu ul li').on('click', function() {
        $('#menu ul li').removeClass('active');
        $(this).addClass('active');
      });
  
      // 검색창
      $('#searchBtn').click(function(){
          $("#main_search").removeClass('closed').addClass('open');
          $('#s_overlay').addClass('show');
        });
      $('#search_closeBtn').click(function(){
        $("#main_search").removeClass('open').addClass('closed');
        $('#s_overlay').removeClass('show');
      });
      $('#s_overlay').click(function() { //배경 클릭하면 닫히게
        $('#main_search').removeClass('open').addClass('closed');
        $('#s_overlay').removeClass('show');
      });
  
  
      // 알림창
      $('#notiBtn').click(function() {
        $('#noti_side').removeClass('closed').addClass('open');
        $('#n_overlay').addClass('show');
      });
      $('#noti_closeBtn').click(function() {
        $('#noti_side').removeClass('open').addClass('closed');
        $('#n_overlay').removeClass('show');
      });
      $('#n_overlay').click(function() { //배경 클릭하면 닫히게
        $('#noti_side').removeClass('open').addClass('closed');
        $('#n_overlay').removeClass('show');
      });
    });


  </script>
</head>

<body>
  <!-- 최상단 메뉴 -->
  <div id="top_nav">
    <h1><a href="/main/index/"></a></h1>
    <ul class="top_menu">
      <li><a id="searchBtn"><img src="{% static '/images/calendar1/search_icon.png'%}" alt="" /></a></li>
      <li><a id="notiBtn"><img src="{% static '/images/calendar1/bell_off_icon.png'%}" alt="" /></a></li>
      <li><a href="/mypage/main/">마이페이지</a></li>
    </ul>
  </div>

  <!-- 좌측 gnb -->
  <div id="gnb">
    <!-- 프로필 -->
    <div id="user_profile">
      <div id="pimg">
        <img src="{% static '/images/calendar1/default_profile.png'%}" alt="" />
      </div>
      <p id="uName">김용준</p>
      <p id="uEmail">kyjoon0105@gmail.com</p>
    </div>

    <!-- Nav -->
    <nav id="menu">
      <ul>
        <a href="/main/index/"><li class="menu_item">우리 가족 이야기</li></a>
        <a href="/diary/diaryHome/"><li class="menu_item">다이어리</li></a>
        <a href="/emotion/main/"><li class="menu_item">감정 돌아보기</li></a>
        <a href="/family1/fam/"><li class="menu_item">우리가족</li></a>
        <a href="/calendar1/cal/"><li class="menu_item active">캘린더</li></a>
        <a href="/customer/"><li class="menu_item">알려드려요</li></a>
      </ul>
    </nav>
    
    <!-- logout -->
    <div id="logout">
      <a href="#"><span>로그아웃</span></a>
    </div>
  </div>

  <!-- 검색창 슬라이드 -->
  <div id="s_overlay" class="s_overlay"></div>
  <div id="main_search" class="search_bar closed">
    <div id="input_wrap">
      <div class="search_box">
        <input type="text" placeholder="다이어리에서 찾고 싶은 내용을 입력하세요.">
        <img src="/static/images/home/search_icon.png" alt="">
      </div>
      <button type="button" id="search_closeBtn">
        <img src="/static/images/home/close_icon.png" alt="알림창닫기">
      </button>
    </div>
    
    <div id="search_content">
      <div id="search_result">
        검색 결과 <span>(4)</span>
      </div>
      <!-- 반복 -->
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <!-- 반복 -->
      
    </div>
    
    
  </div>


  <!-- 알림창 슬라이드 -->
  <div id="n_overlay" class="n_overlay"></div>
  <div id="noti_side" class="sidebar closed">
    <div class="noti_header">
      <h2>알림</h2>
      <button id="noti_closeBtn"><img src="/static/images/home/close_icon.png" alt="알림창닫기"></button>
    </div>
    <ul id="noti_list">
      <li class="noti_list">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>장서윤 님이 새로운 기록을 공유했어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>배현지 님이 용준님의 기록에 좋아요를 눌렀어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>이다영 님이 용준님의 기록에 댓글을 남겼어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>정종원 님이 용준님의 기록에 좋아요를 남겼어요.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>




  <!-- container -->
  <div id="calendar_title">
    <h1>캘린더</h1>
    <button id="openModalBtn"></button>
  </div>
  <div id='calendar'>
  </div>

  <!-- modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <div class="modal_head">
          <button type="button" id="closeModalBtn" class="closemodalBtn"></button>
          <button type="submit" id="chechkModalBtn"></button>
          <h2>일정 추가</h2>
        </div>
        
        <label for="eventTitle">제목</label>
        <input class="Modal_input" type="text" id="eventTitle" name="title" placeholder="이벤트 제목을 입력하세요" /><br>
        
        <label for="eventColor">색상</label>
        <input class="Modal_input" type="color" id="eventColor" name="color" /><br>

        <label for="startTime">시작</label>
        <input class="Modal_input" type="datetime-local" id="startTime" name="start_date" /><br>
        
        <label for="endTime">종료</label>
        <input class="Modal_input" type="datetime-local" id="endTime" name="end_date" /><br>
        
        <label for="eventlocation">장소</label>
        <input class="Modal_input" type="text" id="eventlocation" name="location"/><br>
        
        <label for="repeat">반복</label>
        <select class="Modal_input" id="repeat" name="repeat"><br>
          <option value="none">없음</option>
          <option value="daily">매일</option>   
          <option value="weekly">매주</option>
          <option value="monthly">매월</option>
          <option value="monthly">매년</option>
        </select><br>
        
        <label for="notes">메모</label>
        <textarea class="Modal_input" id="notes" name="memo" rows="2" placeholder="메모를 작성하세요"></textarea><br>
      </form>
    </div>
  </div>

  <div id="disModal" class="modal">
    <div class="modal-content">
      <form method="POST">
        {% csrf_token %}
        <div class="modal_head">
          <button type="button" id="closeModalBtn2" class="closemodalBtn"></button>
          <h2>일정 추가</h2>
        </div>
        <input type="hidden" id='eventNo' name="no" >
        <label for="eventTitle">제목</label>
        <input class="Modal_input" type="text" id="eventTitle1" name="title1" placeholder="이벤트 제목을 입력하세요" /><br>
        
        <label for="eventColor1">색상</label>
        <input class="Modal_input" type="color" id="eventColor1" name="color1" /><br>

        <label for="startTime">시작</label>
        <input class="Modal_input" type="datetime-local" id="startTime1" name="start_date1" /><br>
        
        <label for="endTime">종료</label>
        <input class="Modal_input" type="datetime-local" id="endTime1" name="end_date1" /><br>
        
        <label for="eventlocation">장소</label>
        <input class="Modal_input" type="text" id="eventlocation1" name="location1"/><br>
        
        <label for="repeat">반복</label>
        <select class="Modal_input" id="repeat1" name="repeat1"><br>
          <option value="none">없음</option>
          <option value="daily">매일</option>   
          <option value="weekly">매주</option>
          <option value="monthly">매월</option>
          <option value="monthly">매년</option>
        </select><br>
        
        <label for="notes">메모</label>
        <textarea class="Modal_input" id="notes1" name="memo1" rows="2" placeholder="메모를 작성하세요"></textarea><br>
        <div id="deleteBtn">
          <button type="button" id="updateEventBtn"></button>
          <button type="button" id="deleteEventBtn"></button>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static '/js/calendar1/calendar.js'%}"></script>

	<!-- footer -->
	<div id="footer">
		<div id="f_logo_wrap">
			<img src="/static/images/home/logo_white_sample.png" alt="">
		</div>
		<div id="f_link">
			<ul>
				<li><a href="">공지사항 보기</a></li>
				<li>|</li>
				<li><a href="">포스트 보기</a></li>
				<li>|</li>
				<li><a href="">개인정보처리방침</a></li>
				<li>|</li>
				<li><a href="/admin1/login/">관리자페이지(임시링크)</a></li>
			</ul>
		</div>
		<div id="f_txt">
			<ul>
				<li>상호 : (주)프로젝트파이터</li>
				<li>|</li>
				<li>대표자 : 홍길동</li>
				<li>|</li>
				<li>개인정보보호책임 : 유관순</li>
			</ul>
			<ul>	
				<li>사업자등록번호 : 123-45-67890</li>
				<li>|</li>
				<li>통신판매업신고번호 : 제1234-서울금천-5678호</li>
			</ul>
			<ul>	
				<li>주소 : 서울 금천구 가산디지털2로 101 한라원앤원타워 B동 3층</li>
				<li>|</li>
				<li>고객센터 : 02-1234-5678</li>
			</ul>
			
		</div>
	</div>

</body>

</html>
