<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이메일 인증</title>
</head>
<body>
  <h1>이메일 인증</h1>

  <!-- 이메일 입력 폼 -->
    <form method="POST">
      {% csrf_token %}
      <label for="email">이메일</label><br>
      <input type="email" name="email" id="email" required><br>
      <button type="button">인증코드 보내기</button><br><br>
    </form>

  <!-- 인증 코드 입력 폼 -->
    <form method="POST">
      {% csrf_token %}
      <label for="verification_code">인증코드</label><br>
      <input type="text" name="verification_code" id="verification_code" required><br>
      <button type="submit">확인</button>
    </form>

</body>
</html>
