/* 기본틀 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a{
  text-decoration: none;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 3;
  background-color: #f4f4f4;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  width: 100%;
  max-width: 400px;
}

button {
  width: 100%;
  height: 54px;
  padding: 10px;
  background-color: #d9d9d9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 19px rgba(94, 94, 94, 0.3);
}

button:hover {
  background-color: #5B70C8;
}

.join_form {
  justify-content: center;
  align-items: flex-start;
  margin: 120px 60px 0 70px;
  background-color: #fff;
  width: 450px;
}

/* 로그인 페이지 */
#login_h1{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#login_h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.signup-link {
  text-align: right;
  font-size: 14px;
  color: #666666;
}
.signup-link a {
  color: #373737;
  text-decoration: none;
  font-weight: bold;
}
#id_label {
  font-weight: bold;
}
#id_input {
  width: 100%;
  height: 55px;
  padding: 10px;
  margin:12px 0 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#pw_label {
  font-weight: bold;
}
#pw_input {
  width: 100%;
  height: 55px;
  padding: 10px;
  margin:12px 0 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.checkbox {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox div{
  font-size: 13px;
  cursor: pointer;
  color: #666666;
  margin-left: 70px;
  text-align: right;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.checkbox div label a{
  color: #666666;
  margin-left: 16px;
  cursor: pointer;
}
.alternative-login {
  text-align: center;
  margin: 40px 0 0 -40px;
} 
p{
  color: #999999;
}
.login_icons img {
  width: 50px;
  margin: 20px 10px;
  cursor: pointer;
}
.login_error-message{
  margin-bottom: 20px;
  color: #E97C7C;
  font-size: 14px;
  display: none;
}
#login_errorMessage3{
  margin-bottom: 20px;
  color: #E97C7C;
  font-size: 14px;
  display: none;
}



/* 아이디찾기1 */
#f1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}
#f2{
  font-size: 18px;
  margin-bottom: 56px;
}
#label_name,#label_mail {
  display: inline-block;
  font-weight: bold;
}
.id1_error-message{
  color: #E97C7C;
  font-size: 14px;
  margin-left: 30px;
  display: none;
}
.id1_span1{
  display: flex;
}

#id_input_id,#id_input_bir{
  margin:12px 0 20px 0;
}
input[type="text"]#id1_id,input[type="text"]#id1_birthday{
  width: 100%;
  height: 55px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#label_bir{  
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}
input[type="text"]#id1_mail_id{
  width: 47.5%;
  height: 55px;
  padding: 10px;
  margin:12px 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#id_select{
  margin-left: 15px;
  width: 47.5%;
  height: 55px;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#label_code{  
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
}
input[type="text"]#input_code{
  width: 100%;
  height: 55px;
  padding: 10px;
  margin:0px 0 24px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#id1_errorMessage{
  color: #E97C7C;
  font-size: 14px;
  margin: -15px 0 20px 0;
}
#code_ok_button{
  width: 180px;
  height: 40px;
  background-color: #fff;
  box-shadow: none;
  margin: -40px  0 12px -20px;
}
#code_ok_button a{
  color:#797979;
  font-size: 14px;
  text-decoration: underline
}

/* 아이디 찾기2 */
#id2_f1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}
#id2_f2{
  font-size: 18px;
  margin-bottom: 50px;
}
#id2_f3{
  font-size: 24px;
  margin-bottom: 16px;
}
#id2_f4{
  font-size: 28px;
  margin-bottom: 74px;
}
#id2_w1{
  width: 100%;
  height: 55PX;
  padding: 10px;
  background-color: #d9d9d9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 19px rgba(94, 94, 94, 0.3);
  margin-bottom: 20px;
}
#id2_w1:hover {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 4px 19px rgba(94, 94, 94, 0.3);
}

/* 비밀번호 찾기1 */
#pw_f1{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}
#pw_f2{
  font-size: 18px;
  margin-bottom: 166px;
}
#pw_id{
  font-size: 16px;
  font-weight: bold;
}
#pw_id_input{
  width: 100%;
  height: 55px;
  padding: 10px;
  margin: 12px 0 158px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pw_error-message{
  color: #E97C7C;
  font-size: 14px;
  margin-left: 30px;
  display: none;
}
.pw_span1{
  display: flex;
}

/* 비밀번호2=아이디1 복붙 */

/* 비밀번호3 */
#pw3_f2{
  font-size: 18px;
  margin-bottom: 56px;
}

.pw3_id_input{
  width: 100%;
  height: 55px;
  padding: 10px;
  margin: 12px 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
#pw3_pw2{
  margin-top: 23px;
}
#password{
  width: 100%;
  height: 55px;
  padding: 10px;
  margin: 12px 0 230px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-container {
  position: relative;
  display: inline-block;
  width: 100%; 
}
.password-container button {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 10px; /* 오른쪽 여백 */
  top: 55%;
  transform: translateY(-50%);
  background-color:#fff ;
  border: none;
  cursor: pointer;
  padding: 0;
  box-shadow: none;
}

.password-container button img {
  width: 30px; /* 아이콘 크기 조정 */
  height: 30px;
}
#pw3_{
  margin-bottom: 220px;
}
.error-message {
  color: #E97C7C;
  font-size: 14px;
  margin-left: 30px;
  display: none;
}
.pw_span1{
  display: flex;
}


/* 흰배경 약관동의 부분 */

.join_form h2 {
  font-size: 24px;
  margin-bottom: 13px;
}

.join_form span {
  font-size: 18px;
  margin-bottom: 40px;
  display: inline-block;
}

.terms_all {
  margin-bottom: 20px;
}

.join_form .terms_all label {
  font-size: 16px;
  color: #797979;
  margin-left: 15px;
  font-weight: bold;
  width: 181px;
  height: 18px;
}

.terms_all input[type="checkbox"]:checked + label {
  color: black;
}

.terms {
  align-items: center;
  margin-top: 20px;
}

.join_form .terms label{
  font-size: 14px;
  color: #797979;
  margin: 0 10px 0 15px;
  width: 181px;
  height: 18px;
}

.terms input{
  margin-bottom: 30px;
}

.terms input[type="checkbox"]:checked + label {
  color: black;
}

.join_form .terms a{
  float: right;
  margin-right: 5px;
  font-size: 13px;
  color: #797979;
  border-bottom: 1px solid #797979;
}

/* 약관동의 전체보기 페이지 */
.termtainer {
  margin: 50px auto;
  width: 75%;
  height: 85%;
}

.termtainer h3 {
  margin: 100px 0 40px 0;
  text-align: center;
  font-size: 24px;

}

.termtainer span {
  display: block;
  margin: 30px 0 30px 0;
}

#terma1{
  margin-top: 68px;
}

#terma3{
  margin-top: 334px;
}

#terma4{
  margin-top: 125px;
}

/* join02 가입 계정 정보 입력부분 */
input[type="text"], input[type="password"] {
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.join_info label {
  display: block;
  margin: 10px 0 5px 0;
}

.join_form .email {
  display: flex;
  margin-bottom: 30px;
}
#email1{
  width: 47.5%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.join_form #email2 {
  width: 47%;
  height: 55px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.join2_error-message{
  color: #E97C7C;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
  display: none;
}
.join2_span1{
  display: flex;
}
#overlap_id{
  color: #E97C7C;
  font-size: 14px;
  margin-bottom: 10px;
}
.join02_password {
  position: relative;
  display: inline-block;
  width: 100%; 
}
.join02_password button {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 10px; /* 오른쪽 여백 */
  top: 48%;
  transform: translateY(-50%);
  background-color:#fff ;
  border: none;
  cursor: pointer;
  padding: 0;
  box-shadow: none;
}

.join02_password button img {
  width: 30px; /* 아이콘 크기 조정 */
  height: 30px;
}

/* join03 사용자 정보 입력 */

input[type="date"] {
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="radio"] {
  width: 20px;
  padding-top: 10px;
}

.join_form .gender {
  display: flex;
  margin-bottom: 30px;
}

.join_form .gender label {
  margin: 10px 37px 5px 14px;
}
.join3_error-message{
  color: #E97C7C;
  font-size: 14px;
  margin-left: 30px;
  display: none;
}
.join3_span1{
  display: flex;
}