* {
	margin: 0;
	padding: 0;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

button{
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ol, ul {
	list-style: none;
}

#top_nav {
	width: 100%;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #E9E9E9;
	position: fixed;
	z-index: 100; /* 상단바의 z-index를 높게 설정 */
}

#top_nav > h1 > a {
  display: block; /* a 태그를 블록 요소로 변경 */
  width: 100%;    /* 부모 h1의 크기를 상속 */
  height: 100%;   /* 부모 h1의 크기를 상속 */
  text-indent: -9999px; /* 텍스트를 숨김 */
  overflow: hidden;     /* 텍스트 숨김 유지 */
  cursor: pointer;
}

#gnb {
	width: 284px;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top : 60px;
	border-right: 1px solid #E9E9E9;
	background: #fff;
}

#user_profile {
	width: 284px;
	height: 264px;
	/* border: 1px solid black; */
	text-align: center;
}

#uName{font-size: 18px; font-weight: 500; letter-spacing: 3px; line-height: 21px; margin-top:23px}
#uEmail{font-size: 14px; font-weight: 400; line-height: 17px; color: #797979; margin-top:9px}

#pimg {
	width: 100px;
	height: 100px;
	/* border: 1px solid black; */
	border-radius: 100%;
	overflow: hidden;
	margin: 40px auto 0;
}

#pimg img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* 이미지 비율 유지하며 영역 채우기 */
}

#menu ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 220px;
}

#menu ul li {
	height: 44px;
	padding: 11px 0 11px 40px;
	margin-bottom: 5px;
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s;
}

.menu_item {
	font-size: 16px;
	font-weight: 400;
	color: #666;
}

.menu_item.active {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	background-color: #FAFAFA;
	background-image: url(/static/images/home/menu_bar.png);
	background-repeat: no-repeat;
	background-position: right center;
	
}

.menu_item:hover {
	background-color: #FAFAFA;
	color: #000;
}

#logout{
	font-size: 16px;
	font-weight: 600;
	margin-left: 40px;
	background-image: url(/static/images/home/logout_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
}
#logout span{margin-left: 34px;}




#top_nav>h1{ width: 81px; height: 24px; 
	background: url('/static/images/home/logo_sample.png') no-repeat;
	position: absolute; 
	left:50px; top:18px; 
	}

.top_menu{
display: flex;
gap: 24px;
justify-content: flex-end;
margin-right: 48px;
padding-top: 20px;
box-sizing: border-box;
}

/* 검색창 슬라이드 */
.search_bar {
	position: fixed;
	top: 0;
	top: -950px;
	width: 100%;
	height: 600px;
	margin-top: 60px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	overflow-x: auto;
	transition: right 0.3s ease-in-out;
	z-index: 1000;
}
.search_bar.closed {
	top: -950px;
}
.search_bar.open {
	top: 0; 
}
#input_wrap{
	display: flex;
}

.search_box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 14px;
  width: 600px;
	height: 48px;
	margin: 40px auto;
	box-sizing: border-box;
  background-color: #f9f9f9;
}

.search_box input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  background: transparent;
}
#search_closeBtn  {
  border: none;
	background: #fff;
	width: 24px;
	height: 24px;
	position: relative;
	top: 52px;
	left: -50px;
	cursor: pointer;
}

.search_box input::placeholder {
  color: #aaa;
}
#search_content{
	width: 1000px;
	margin: 0 auto 60px;
	/* border: 1px solid black; */
}

#search_result{
	padding: 20px;
	box-sizing: border-box;
	height: 64px;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #dfdfdf;
}

.search_list{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dfdfdf;
	font-size: 17px;
	padding: 20px;
	box-sizing: border-box;
}

.search_list a{
	display: flex;
  align-items: center;
}

.s_title{
	margin-right: 24px;
}
.s_date{
	color: #797979;
}
.search_list img{
	margin-left: auto;
}
/* 페이지 어둡게 */
.s_overlay {
	position: fixed;
	top: 61px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: none;
}

.s_overlay.show {
	display: block;
	animation: fadeIn 0.8s ease-in-out;
}



/* 알림창 슬라이드 */
.sidebar {
	position: fixed;
	top: 0;
	right: -480px;
	width: 480px;
	height: 100%;
	background-color: white;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	transition: right 0.3s ease-in-out;
	z-index: 1000;
}

.sidebar.closed {
	right: -480px;
}

.sidebar.open {
	right: 0; 
}

.noti_header{
	width: 480px;
	height: 70px;
	border-bottom: 1px solid #d9d9d9;
	padding-top: 23px;
	padding-left: 40px;
	box-sizing: border-box;
	display: flex;
}
.noti_header h2{
	font-size: 20px;
	font-weight: 400;
}

#noti_closeBtn{
	width: 24px;
	height: 24px;
	border: 0;
	background: none;
	cursor: pointer;
	margin-left: 340px;
}

#noti_list li{
	font-size: 17px;
	height: 84px;
	background: #f1f1f1;
	background-image: url('static/images/home/n_icon.png');
	background-repeat: no-repeat;
	background-position: 82px 22px;
	border-bottom: 1px solid #dfdfdf;
	padding-top: 22px;
	padding-left: 30px;
	box-sizing: border-box;
	display: flex;
}

#noti_list li.checked{
	font-size: 17px;
	height: 84px;
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	padding-top: 22px;
	padding-left: 30px;
	box-sizing: border-box;
	display: flex;
}

#noti_list li a{
	display: flex;
}

#noti_list li p{
	padding-top: 10px;
	padding-left: 12px;
}

#noti_list img{
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

/* 페이지 어둡게 */
.n_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: none;
}

.n_overlay.show {
	display: block;
	animation: fadeIn 0.3s ease-in-out;
}




