<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>

</head>
<body>
  <h2>메인페이지</h2>
    <ul>
      <li><a href="/member/login/">로그인</a></li>
    </ul>
    <ul>
      <li><a href="/member/logout">로그아웃</a></li>
      <li><a href="/admin/">admin관리자</a></li>
      <li><a href="/board/blist">게시판리스트</a></li>
      <li><a href="/board/blist">회원정보</a></li>
      <li><a href="/board/blist">회원전체리스트</a></li>
    </ul>
</body>
</html>