{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <link rel="stylesheet" href="{% static '/css/family1/main.css'%}" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
  <title>우리가족</title>


  <script>

    $(function() {
      // GNB 클릭
      $('#menu ul li').on('click', function() {
        $('#menu ul li').removeClass('active');
        $(this).addClass('active');
      });
    
      // 검색창 열기
      $('#searchBtn').click(function() {
        $("#main_search").removeClass('closed').addClass('open');
        $('#s_overlay').addClass('show');
      });
      // 검색창 닫기
      $('#search_closeBtn').click(function() {
        $("#main_search").removeClass('open').addClass('closed');
        $('#s_overlay').removeClass('show');
      });
      // 배경 클릭 시 검색창 닫기
      $('#s_overlay').click(function() {
        $('#main_search').removeClass('open').addClass('closed');
        $('#s_overlay').removeClass('show');
      });
    
      // 알림창 열기
      $('#notiBtn').click(function() {
        $('#noti_side').removeClass('closed').addClass('open');
        $('#n_overlay').addClass('show');
      });
      // 알림창 닫기
      $('#noti_closeBtn').click(function() {
        $('#noti_side').removeClass('open').addClass('closed');
        $('#n_overlay').removeClass('show');
      });
      // 배경 클릭 시 알림창 닫기
      $('#n_overlay').click(function() {
        $('#noti_side').removeClass('open').addClass('closed');
        $('#n_overlay').removeClass('show');
      });
    });
    
    document.addEventListener('DOMContentLoaded', () => {
      const toggleButton1 = document.getElementById('toggleButton1');
      const mainMe = document.getElementById('main_me');
      const smallList1 = document.getElementById('small_list1');
      const smallItems1 = smallList1.querySelectorAll('.small_list_1');
      const smallToggle1 = document.getElementById('small_toggle_id1');
      const smallToggle2 = document.getElementById('small_toggle_id2');
      
      // "더보기" 버튼의 표시 여부 처리
      const toggleMoreButtonVisibility = (items, toggle) => {
        toggle.style.display = items.length <= 4 ? 'none' : 'block';
      };
      toggleMoreButtonVisibility(smallItems1, smallToggle1);
      toggleMoreButtonVisibility(smallItems1, smallToggle2);
      
      // "더보기" 버튼 클릭 시 동작
      toggleButton1.addEventListener('click', () => {
        const expanded = mainMe.classList.toggle('expanded');
        smallList1.classList.toggle('expanded');
        mainMe.style.height = expanded ? `${smallList1.scrollHeight + 170}px` : '400px';
        toggleButton1.textContent = expanded ? '접기' : '더보기';
      });
    
      const toggleButton2 = document.getElementById('toggleButton2');
      const mainMe2 = document.getElementById('main_me2');
      const smallList2 = document.getElementById('small_list2');
      const smallItems2 = smallList2.querySelectorAll('.small_list_2');
      
      // "더보기" 버튼 표시 여부 처리 (small_list_2)
      if (smallItems2.length <= 4) {
        smallToggle2.style.display = 'none';
      }
      
      // "더보기" 버튼 클릭 시 동작 (small_list_2)
      toggleButton2.addEventListener('click', () => {
        const expanded = mainMe2.classList.toggle('expanded');
        smallList2.classList.toggle('expanded');
        mainMe2.style.height = expanded ? `${smallList2.scrollHeight + 170}px` : '420px';
        toggleButton2.textContent = expanded ? '접기' : '더보기';
      });
    
      // 편집 버튼 클릭 시 스타일 변경 및 텍스트 변경
      const editButton = document.getElementById('king');
      const deleteButtons1 = document.querySelectorAll('.list_deleteBtn');
      const addButtonToggle = document.getElementById('add_Btn_toggle');
    
      editButton.addEventListener('click', () => {
        const isEditing = editButton.classList.contains('editing');
        const smallToggle1 = document.getElementById('small_toggle_id1');
        const addInput = document.getElementById('add_Btn_input');
        if (isEditing) {
          // 편집 모드 -> 완료 모드
          editButton.textContent = '완료';
          editButton.style.color = 'blue';
          editButton.style.textDecoration = 'underline';
          deleteButtons1.forEach(button => button.style.display = 'inline-block');
          addButtonToggle.style.display = 'block';
        } else {
          // 완료 모드 -> 편집 모드
          editButton.textContent = '편집';
          editButton.style.color = '';
          editButton.style.textDecoration = '';
          deleteButtons1.forEach(button => button.style.display = 'none');
          addButtonToggle.style.display = 'none';
          addInput.style.display = 'none'; // display 속성을 block으로 변경
        }
        
        // 맴버 추가하기 인풋 등장
        const addButton = document.getElementById('add_Bton');
        addButton.addEventListener('click', () => {
          addInput.style.display = 'block'; // display 속성을 block으로 변경
        });

        // 편집 상태 토글
        editButton.classList.toggle('editing');
      });
    });
    
    
    $(document).on('click', '.list_deleteBtn', function() {
      const memberId = $(this).data('member-id'); // 버튼에서 member_id 가져오기
      
      // 삭제 요청 보내기
      $.ajax({
        url: '/family1/delete_member/' + memberId + '/',  // delete_member 뷰의 URL
        type: 'POST',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF 토큰 추가
        },
        success: function(response) {
          alert('멤버가 삭제되었습니다.');
          location.reload();  // 삭제 후 페이지 새로 고침
        },
        error: function(xhr, errmsg, err) {
          alert('삭제에 실패했습니다.',);
        }
      });
    });
    

    // 맴버 추가
    $(document).on('click', '#add_Bton', function() {
      const memberId = $('#add_input').val().trim();  // 입력된 ID 가져오기
  
      if (!memberId) {
        alert("아이디를 입력하세요.");
        return;
      }
  
      $.ajax({
        url: '/family1/add_member/',  // 추가할 뷰의 URL
        type: 'POST',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',  // CSRF 토큰
          'member_id': memberId  // 입력된 멤버 ID
        },
        success: function(response) {
          if (response.success) {
            alert("멤버가 추가되었습니다.");
            location.reload();  // 추가 후 페이지 새로 고침
          } else {
            alert(response.error);
          }
        },
        error: function(xhr, errmsg, err) {
          alert('서버 요청에 실패했습니다.');
        }
      });
    });
    

  </script>
</head>

<body>
  <!-- 최상단 메뉴 -->
  <div id="top_nav">
    <h1><a href="/main/index/"></a></h1>
    <ul class="top_menu">
      <li><a id="searchBtn"><img src="{% static 'images/family1/search_icon.png'%}" alt="" /></a></li>
      <li><a id="notiBtn"><img src="{% static 'images/family1/bell_off_icon.png'%}" alt="" /></a></li>
      <li><a href="/mypage/main/">마이페이지</a></li>
    </ul>
  </div>

  <!-- 좌측 gnb -->
  <div id="gnb">
    <!-- 프로필 -->
    <div id="user_profile">
      <div id="pimg">
        <img src="{% static 'images/family1/default_profile.png'%}" alt="" />
      </div>
      <p id="uName">{{user.name}}</p>
      <p id="uEmail">{{user.mail}}</p>
    </div>

    <!-- Nav -->
    <nav id="menu">
      <ul>
        <a href="/main/index/"><li class="menu_item">우리 가족 이야기</li></a>
        <a href="/diary/diaryHome/"><li class="menu_item">다이어리</li></a>
        <a href="/emotion/main/"><li class="menu_item">감정 돌아보기</li></a>
        <a href="/family1/fam/"><li class="menu_item active">우리가족</li></a>
        <a href="/calendar1/cal/"><li class="menu_item">캘린더</li></a>
        <a href="/customer/"><li class="menu_item">알려드려요</li></a>
      </ul>
    </nav>

    <!-- logout -->
    <div id="logout">
      <a href="/main/logout/"><span>로그아웃</span></a>
    </div>
  </div>

  <!-- 검색창 슬라이드 -->
  <div id="s_overlay" class="s_overlay"></div>
  <div id="main_search" class="search_bar closed">
    <div id="input_wrap">
      <div class="search_box">
        <input type="text" placeholder="다이어리에서 찾고 싶은 내용을 입력하세요.">
        <img src="/static/images/home/search_icon.png" alt="">
      </div>
      <button type="button" id="search_closeBtn">
        <img src="/static/images/home/close_icon.png" alt="알림창닫기">
      </button>
    </div>
    
    <div id="search_content">
      <div id="search_result">
        검색 결과 <span>(4)</span>
      </div>
      <!-- 반복 -->
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <div class="search_list">
        <a href="">
          <span class="s_title">검색어가 들어간 기록의 제목이 들어가는 부분</span>
          <span class="s_date">2024.12.05</span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
      <!-- 반복 -->
      
    </div>
    
    
  </div>


  <!-- 알림창 슬라이드 -->
  <div id="n_overlay" class="n_overlay"></div>
  <div id="noti_side" class="sidebar closed">
    <div class="noti_header">
      <h2>알림</h2>
      <button id="noti_closeBtn"><img src="/static/images/home/close_icon.png" alt="알림창닫기"></button>
    </div>
    <ul id="noti_list">
      <li class="noti_list">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>장서윤 님이 새로운 기록을 공유했어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>배현지 님이 용준님의 기록에 좋아요를 눌렀어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>이다영 님이 용준님의 기록에 댓글을 남겼어요.</p>
          </div>
        </a>
      </li>
      <li class="noti_list checked">
        <a href="">
          <div>
            <img src="/static/images/home/default_profile.png" alt="프로필이미지">
          </div>
          <div>
            <p>정종원 님이 용준님의 기록에 좋아요를 남겼어요.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>


  <!-- container -->
  <div id="main_title">
    <h1>우리가족</h1>
    <div id="top_name">가족구성원</div>
    <div id='main_tool'>
      <div id="non" class="{% if has_group %}hide{% else %}show{% endif %}">가족이 존재하지 않습니다. 가족을 추가하세요.<br>
      <a href="/diary/diaryMake/" id="hidden_a">가족 추가하러 가기</a>
      </div>

      <div id ="back_cover">

      
        <div id="main_me" class="{% if created_group %}show{% else %}hide{% endif %}">
          
          <div id="small_title1" class="small_title">{{created_group_name}}</div>
          <button type='button' id='king'>편집</button>

          <div class="small_list" id="small_list1">
            {% if joined_group_members %}
              {% for member in joined_group_members%}
                <div class="small_list_1">
                  <div class="small_img"><img src="{% static 'images/family1/default_profile.png'%}" alt="" /></div>
                  <div class="summ">
                    <div class="small_name">{{member.name}}</div>
                    <div class="small_bir">{{member.birthday}}</div>
                    <button type=button class="list_deleteBtn" data-member-id="{{ member.id }}">삭제</button>
                  </div>
                </div>
              {% endfor %}
            {% endif %}


          </div>
          <div id="add_Btn_input">
            <input type="text" id="add_input" placeholder="  추가할 맴버의 아이디를 검색하세요.">
          </div>
          <div id="add_Btn_toggle">
            <button type="button" id="add_Bton">맴버추가하기</button>
          </div>
          <div class="small_toggle" id='small_toggle_id1'>
            <button id="toggleButton1">더보기</button>
          </div>

        </div>
        <div id="main_me2" class="{% if joined_group %}show{% else %}hide{% endif %}">
          <div id="small_title1" class="small_title">{{joined_group_name}}</div>
          <div class="small_list" id="small_list2">
            {% if created_group_members %}
            {% for member in created_group_members %}
            <div class="small_list_2">
              <div class="small_img"><img src="{% static 'images/family1/default_profile.png'%}" alt="" /></div>
              <div class="summ">
                <div class="small_name">{{member.name}}</div>
                <div class="small_bir">{{member.birthday}}</div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          
          <div class="small_toggle" id='small_toggle_id2'>
            <button id="toggleButton2">더보기</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div></div>

  <!-- footer -->
  <div id="footer">
		<div id="f_logo_wrap">
			<img src="/static/images/home/logo_white_sample.png" alt="">
		</div>
		<div id="f_link">
			<ul>
				<li><a href="">공지사항 보기</a></li>
				<li>|</li>
				<li><a href="">포스트 보기</a></li>
				<li>|</li>
				<li><a href="">개인정보처리방침</a></li>
				<li>|</li>
				<li><a href="/admin1/login/">관리자페이지(임시링크)</a></li>
			</ul>
		</div>
		<div id="f_txt">
			<ul>
				<li>상호 : (주)프로젝트파이터</li>
				<li>|</li>
				<li>대표자 : 홍길동</li>
				<li>|</li>
				<li>개인정보보호책임 : 유관순</li>
			</ul>
			<ul>	
				<li>사업자등록번호 : 123-45-67890</li>
				<li>|</li>
				<li>통신판매업신고번호 : 제1234-서울금천-5678호</li>
			</ul>
			<ul>	
				<li>주소 : 서울 금천구 가산디지털2로 101 한라원앤원타워 B동 3층</li>
				<li>|</li>
				<li>고객센터 : 02-1234-5678</li>
			</ul>
			
		</div>
	</div>

</body>

</html>